body {
    background-color: #42517d; /* makes the background  dark blue */
    color: white;
}

.bob{
    display: grid;
    background-color: #162140;
    font-size: 50px;
    text-align: center;
    padding: 20px;
    color: black;
    font-weight: bold;
}

.banner { /* this will style the navigation */
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #162140;
    padding: 10px;
    text-align: center;
}

a{ /* styles the links */
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.intro{ /* intro paragraph */
    padding: 30px;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    margin-left: 750px;
    width: 700px;
    font-weight: bold;
    background-color: #1f305c;
    border-radius: 10px;
}

.history{
    padding: 30px;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    margin-left: 750px;
    width: 700px;
    font-weight: bold;
    background-color: #1f305c;
    border-radius: 10px;
}

.knowledge{
    padding: 30px;
    font-size: 30px;
    background-color: #1f305c;
    border-radius: 10px;
    width: 700px;
    margin: auto; /* makes the div centered */
    margin-top: 50px;
    font-weight: bold;
}

.tutorials{ /* i literally just copy an pasted the knowledge class */
    padding: 30px;
    font-size: 30px;
    background-color: #1f305c;
    border-radius: 10px;
    width: 700px;
    margin: auto; 
    margin-top: 50px;
    font-weight: bold;
}

.footer{ /* this is the footer */
    display: grid;
    background-color: #162140;
    text-align: left;
    padding: 20px;
    color: black;
    font-weight: bold;
    grid-template-columns: auto auto auto;
    margin-top: 50px;
}

p{ /* styles paragraphs */
    padding: 10px;
    font-size: 18px;
    font-weight: normal;
}

h1{
   font-size: 25px;
   font-weight: bold;
}

h2{
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;
    background-color: #162140;
    border-radius: 10px;
    width: fit-content; /* makes the width fit the text */
    padding: 5px;
}