body {
    background-color: #42517d; /* makes the background  dark blue */
    color: white;
}

.banner { /* this will style the banner */
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #162140;
    padding: 10px;
    
}

a{
    color: white;
    text-decoration: none;
}